@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .transform-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }

    .perspective-1000 {
        perspective: 1000px;
    }

    @keyframes spindown {
        to {
            transform: translateY(125vh) rotate(360deg);
        }
    }
}

@import url(../node_modules/@fontsource/biz-udgothic/400.css);

body {
    background-image: url('../public/background.jpg');
    background-size: cover;
    font-family: 'BIZ UDGothic';
}
